Board {
  background:rgb(14, 82, 34);
}

.cell {
  content-align: center middle;
  height: 100%;
  width: 100%;
  outline-right: ascii rgb(170, 160, 101);
  outline-bottom: ascii rgb(170, 160, 101);
}
